#app {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  min-height: 100svh;
}

.main-container {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: var(--p-2);
}

.add-download-container {
  border: 2px solid hsl(var(--border));
  padding: var(--p-4);
}

.form-group {
  display: grid;
  padding-block: var(--p-2);
}

.button-group {
  display: flex;
  gap: var(--p-2);
}

.download-list {
  display: grid;
  gap: var(--p-2);
  padding-block: var(--p-2);
}

.download-list-item {
  border: 1px solid hsl(var(--border));
  padding: var(--p-2);
}

.download-file-name {
  font-size: 1.25rem;
}
